/*用户注册*/
.sign_up_in{
	font-size: 14px;
}
.sign_up_in .row{
	
}
.sign_up_in h2{
	font-size: 26px;
	padding-bottom: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 1.15;
	border-bottom: 2px solid #ddd;
}
.sign_up_in .row span{
	display: inline-block;
	width: 100px;
	text-align: right;
	font-size: 16px;
}
.sign_up_in .row input{
	width: 240px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	color: #999;
	padding-left: 5px;
}
.sign_up_in p{
	height:34px;
	line-height: 34px;
	padding-left: 102px;
}
.sign_up_in .btn_gray{
	margin-left: 102px;
}